body{
	background-color: hsl(233, 47%, 7%);
	font-size: 15px;
	font-family: 'Inter', sans-serif;
	display: center;
	align-items: center;
}
h1{
	color: hsl(0, 0%, 100%);
}
p1{
	color: hsla(0, 0%, 100%, 0.75);
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;;
}

.n1{
	color: hsl(0, 0%, 100%);
}

.c1{
	color: hsla(0, 0%, 100%, 0.75);
}

/* body{
    color: blue;
}
.img{
    filter: purple(100%);
}
.leftside, .rightside{
    height: 100vh;
    width: 100%;
}

.leftside{
    background-color: red;
}

.rightside{
    background-color: blue;
}



.main-nav{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.main-nav li{
	display: inline-block;
}

.main-nav li a{
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li.active a{
	border:1px solid red;
}

.main-nav li a:hover{
	border: 1px solid red;
}
 */
