/* body{
	background-color: hsl(233, 47%, 7%);
	font-size: 15px;
	font-family: 'Inter', sans-serif;
	display: center;
	align-items: center;
}
h1{
	color: hsl(0, 0%, 100%);
}
p1{
	color: hsla(0, 0%, 100%, 0.75);
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;;
}

.n1{
	color: hsl(0, 0%, 100%);
}

.c1{
	color: hsla(0, 0%, 100%, 0.75);
} */











body {
        background-color: #000;
        color: #FFF;
        font-family: Arial, Helvetica, sans-serif;
    }

    .containter {
        width: 100%;
        height: 100%;
        margin:auto;
        padding: 0;
        position: relative;
    }

    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .model-center {
        width: 80%;
        /* height: 70%; */
        margin: auto;
        min-height: 100px;
        display: inline-flex;
    }

    .model-center #left {
        width: 50%;
        background-color: rgb(70, 70, 70);
    }

    .model-center #right {
        width: 49%;
        background-color: gray;
    }

    .model-center #inner {
        /* width: 39%; */
        margin: auto;
        padding: 50px;
    }

    .purple-text {
        color: rgb(211, 151, 211);
    }

    .title {
        font-size: 32px;
        font-weight: bolder;
    }

    .stats-title {
        font-size: 24px;
        font-weight: bold;
    }

    .subtitle {
        font-size: 14px;
        line-height: 24px;
        }

    .stats {
        width: 100%;
        display: inline-flex;
    }

    #first {
        width: 33%;
    }

    #second {
        width: 33%;
        /* text-align: center; */
    }

    #third {
        width: 33%;
        /* text-align: right; */
    }








/* body{
    color: blue;
}
.img{
    filter: purple(100%);
}
.leftside, .rightside{
    height: 100vh;
    width: 100%;
}

.leftside{
    background-color: red;
}

.rightside{
    background-color: blue;
}



.main-nav{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.main-nav li{
	display: inline-block;
}

.main-nav li a{
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li.active a{
	border:1px solid red;
}

.main-nav li a:hover{
	border: 1px solid red;
}
 */
